.text{
    font-family:'Times New Roman';
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    padding: 10px;
}
.title{
    font-family:'Times New Roman';
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    padding: 10px;
}
nav {
    background: #f0f0f0;
    margin: 0;
    padding: 0;
}
nav ul {
    display: flex;                              /* uso flexbox per il layout */
    justify-content: space-around;          /* distribuisco gli elementi in modo uniforme */
    align-items: center;
    width: 100%;
    margin: 0;                              /* margine zero (non  si usa) */
    padding: 10px 0;
    list-style: none;
}
nav ul li {
    margin: 0;
}
nav ul li a {
    display: flex;
    flex-direction: column;             /* orientamento verticale */
    align-items: center;                /* allineamento orizzontale */
    justify-content: center;
    width: 150px;                           /* dimensione figura */
    height: 100px;
    background: #fff;                       /* sfondo bianco */
    border-radius: 35%;
    text-align: center;                     /* testo al centro della forma */
    text-decoration: none;                  /* tolgo sottolinea */
    color: #333;
    font-weight: bold;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: background 0.3s, color 0.3s;                /*durata della transizione all'hover */ 
    font-size: 14px;
}
nav ul li a:hover {                         /* quando passo con il mouse zio pera */  
    background: #e0e0e0;
    color: #10549cc7;
}
